#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  text-align: center;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: Futura;
  margin: 0;
}

@font-face {
  font-family: Futura;
  src: url(./assets/FuturaBold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./assets/Lato-Regular.ttf);
}

:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #9c9c9c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3{
  font-weight: 400;
  line-height: 1.1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: medium;
  font-weight: 550;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff00;
  color: #9c9c9c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Links And NavBar */

#join-link {
  position: relative;
  top: 1.5px;
  right: 100px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home-link {
  position: relative;
  top: 1.5px;
  right: 200px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-link {
  position: relative;
  top: 1.5px;
  right: 150px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#checkout-link {
  position: relative;
  top: 1.5px;
  right: 50px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {
  padding: 3px;
  display: flex;
  justify-content: right;
  gap: 20px;
  background-color: #dadada7a;
  font-size: larger;
  margin-left: -32px;
  position: relative;
}

#home-banner {
  width: 1300px;
  height: auto;
  margin-left: -32px;
}

#catagories-bar {
  margin: 10px;
  position: absolute;
  top: 30px;
  left: 500px;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.category-btn{
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

#catagories-window #scrolling-text-bg #scroll-container {
  max-width: 100px;
}

#scrolling-text {
  text-align: right;
  font-size: 100px;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 22s linear infinite;
  -webkit-animation: my-animation 22s linear infinite;
  animation: my-animation 22s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* Carousel Styling */
.slider-container {
  position: relative;
  margin: 50px auto 20px auto;
  width: 600px;
  height: 300px;
}

#photo {
  width: 300px;
  border-radius: 10px;
  height: auto;
  margin: 10px;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: static;
  width: auto;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background: rgba(166, 166, 166, 0.3);
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: serif;
  transition: 0.6s ease;
  border: none;
  border-radius: 100px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.active,
.dot:hover {
  background-color: gray;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

#space {
  color: #000000;
  background-color: #dadada7a;
  margin-left: -32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#ship-button {
  border: solid rgb(197, 197, 197);
  border-width: 1.5px;
  font-size: larger;
}

#blank {
  color: #dadada7a;
}



/* search bar and input fields */

#search-bar-container {
  color: #213547;
  text-align: center;
  background-color: transparent;
  border: none; 
  position: absolute;
  top: 40px;
  left: 850px;
  width: 200px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px; 
  box-shadow: 0px 0px 8px #ddd; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-bar {
  border: none;
  background-color: #00000000;
  outline: none;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 20px;
  color: #213547;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-bar:hover {
  border: none;
  outline: none;
  color: #000000;
}

#search-icon {
  color: #213547;
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: x-large;
}

#submit-button{
  color: #9c9c9c;
  position: absolute;
  left: 240px;
  top: 0px;
  font-size: 40px;
}

#submit-button:hover {
  color: #213547;
}


#filter-button{
  color: #9c9c9c;
  position: absolute;
  left: 1180px;
  top: 91px;
  font-size: x-large;
}

#auth-button{
  border: solid;
  border-width: 1px;
  outline: none;
  text-align: center;
  color: #213547;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#auth-button:hover {
  background-color: #efefef;
}
/* the thin text used in product descriptions and various other website elements */
.desc-text{
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coupon-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  position: absolute;
  left: 50px;
  top:60px;
}

.coupon{
  position: absolute;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#coupon-code{
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cart-button{
  position: absolute;
  top: 29px;
  right: 30px;
  font-size: x-large;
  background-color: rgba(255, 250, 250, 0);
}

#wishlist-button{
  position: absolute;
  top: 30px;
  right: 90px;
  font-size: x-large;
  background-color: rgba(255, 250, 250, 0);
}

#logout-button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  position: absolute;

  top: 1px;
  left: 22px;
}

#form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 280px;
}

input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::placeholder {
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-details{
  color: #213547;
  text-align: center;
  background-color: transparent;
  box-shadow: 0px 0px 8px #ddd; 
  float:inline-start;
  margin-block: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 41px;
  width: 30%;
}

h4{
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#add-to-cart{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: #213547;
  box-shadow: 0px 0px 8px #ddd; 
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#add-to-cart:hover {
  background-color: rgb(241, 241, 241);
}

#product-img{
  max-width: 300px;
}

#product-card, h4{
font-weight: 500;
padding-top: 5px;
}

#product-card, h3{
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

#productImages {
  padding-top: 10px;
  max-width: 250px;
  max-height: 250px;
}

#cart-name{
  display: flex;
  gap: 100px;
  align-items: center;
  text-align: center;
}


#cart-cost{
  gap: 1px;
}

#cart-quantity{
  gap: 1px;
}

#cart-buttons{
  gap: 1px;
}

#cart-color{
  gap: 1px;
}

#cart-total{
gap: 1px;
}

.cart{
  display: flex;
  gap: 100px;
  align-items: center;
  text-align: center;
}

#footer{
  background-color: black;
  text-align: left;
  align-items: center;
  width: 2000px;
  padding-top: 200px;
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.footer-links{
  font-size: 20px;
  margin: 0px;
  color: white;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#gh-button{
  text-align: center;
  align-items: center;
  font-size: 50px;
  color: white;
}
#label-f{
 color: white;
 position: relative;
 font-size: medium;
}
#light-f{
  color: white;
  position: relative;
  font-size: smaller;
  font-weight: 300;
  color: rgb(185, 185, 185);
 }

.footer-item {
  display: flex;
  padding: 10px;
 margin-bottom: 30px;}